html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

nav {
  padding: $spaceUnit*2;

  a {
    margin-right: $spaceUnit*2;

  }
}

a {
  color: $link;
  text-decoration: none;
  border-bottom: 2px dotted $link;

  &:hover {
    font-style: italic;
    color: $textContrastLow;
    border-bottom: 1px solid $textContrastLow;
  }
}
