<!DOCTYPE html>
html(lang="en")
    head
        <meta charset="UTF-8">
        title Basic Example
        link(rel='stylesheet',href='styles/styles.css')

body
    div.mainContent
        h1 Welcome
        p This is a test
script(src='js/app.js')
