<!DOCTYPE html>
html(lang="en")
    head
        <meta charset="UTF-8">
        <meta content='IE=edge' http-equiv=X-UA-Compatible>
        <meta content='width=device-width, initial-scale=1' name=viewport>
        title Basic Example
        link(rel='stylesheet',href='styles/styles.css')
        script(src='js/polyfill.min.js')

body
    div.mainContent
        h1 Welcome
        p This is a test
script(src='js/app.js')
